#titulo {
    color: #ed217c;
    font-weight: bold;
    size: 60px;
    text-align: center;
}

#logo {
    width: 180px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#containerOpciones {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    color: white;
}

#identificate,
#mapa,
#publicidad {
    display: inline;
}

#imagenReconocimentoFacial,
#imagenMapa,
#imagenPublicidad {
    width: 300px;
    height: 200px;
}

.btn.btn-primary {
    background-color: #ed217c;
    border-color: #ed217c;
    font-weight: bold;
    margin-left: 25%;
    margin-bottom: 5%;
    width: 40%;
}

.space {
    width: 20%;
}

.btn.btn-primary a {
    color: inherit;
    text-decoration: inherit;
  }