.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.scroll-menu-arrow {
  /* padding: 20px; */
  cursor: pointer;
}

.configuration.item img{
  filter: grayscale(100%);
  opacity: 0.6;
}

.focused-item img{
  filter: none !important;
  opacity: 1 !important;
  border: white;
}

.item .feria-text{
  opacity: 0.6;
}

.item .videolist-text{
  opacity: 0.6;
}

.focused-item .item .videolist-text{
  opacity: 0.6;
}

.spinBtn.item-focusable{
  filter: grayscale(100%);
  opacity: 0.6;
}

.spinBtn.focused-item{
  filter: none !important;
  opacity: 1 !important;
}

.btn-elegir-tv{
  background: rgb(237, 33, 124) !important;
  color: #fff !important;
}

.btn-elegir-tv.focused-item{
  background: white !important;
  color: #fff !important;
}

.btn-elegir-tv.focused-item > svg{
  color: rgb(237, 33, 124) !important;
}

.focused-item.feria > .feria-text{
  color: #ed217c !important;
}

.focused-item.feria > .videolist-text{
  color: #ed217c !important;
}


.lista{
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  white-space:nowrap;
}

.item-lista{
  box-shadow: 1px 1px 10px #999; 
  margin: 2px;
  max-height: 50px;
  cursor: pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
}

.wrapper{
  /* background:#EFEFEF;  */
  box-shadow: 1px 1px 10px #999; 
  margin: auto; 
  text-align: center; 
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px !important;
  width: 800px;
  padding-top: 5px;
}

body{
  font-family: 'Roboto', sans-serif; 
}