.video-react-big-play-button, .video-react-control-bar  {
    display: none;
}

video{
    margin-top: 1%;
    vertical-align: center;
    text-align: center;
    width: 60%;
    height: 60%;
    margin-left: 20%;
}

.menu-rosado > .focused-item {
    color: white !important ;
    font-weight: bold;
}


.focused-item{
    color: red !important ;
}

.item-focusable:focus{
    outline: none !important;
}

.App > div > div >  .focused-item{
    background-color: white !important ;
}

#divGrande > div > .focused-item{
    color: red !important ;
}

button.focused-item{
    color: #ed217c !important ;
    background-color: white !important;
}
