body {
    font-family: 'Roboto', sans-serif;
}

.video-react-big-play-button, .video-react-control-bar  {
    display: none;
}

video{
    margin-top: 1%;
    vertical-align: center;
    text-align: center;
    width: 60%;
    height: 60%;
    margin-left: 20%;
}

.menu-rosado > .focused-item {
    color: white !important ;
    font-weight: bold;
}


.focused-item{
    color: #ed217c !important ;
}

.item-focusable:focus{
    outline: none !important;
}

.App > div > div >  .focused-item{
    background-color: white !important ;
}

#divGrande > div > .focused-item{
    color: #ed217c !important ;
}

button.focused-item{
    color: #ed217c !important ;
    background-color: white !important;
}

.modal {
    background-color: white;
    position: 'absolute';
    left: 0;
    right: 0;
    top: 0;               
    bottom: 0;
    margin: 'auto';
    width: "45%";
    height: "45%";
    z-index: 10;
    border-radius: "20px";
    box-shadow: "0px 0px 6px #ccc";
    color: "black";
    text-align: 'center';
    border: 'solid #0b0e21 7px';
}
