.simple-keyboard {
    max-width: 600px;
    max-height: 500px;
    margin-left: 4%;
    margin-top: 5%;
    height: 100%;
}

input {
    width: 400px;
    height: 50px;
    padding: 20px;
    font-size: 20px;
    margin-left: 42%;
    margin-top:22%;
    margin-bottom: 5%;
    border: none;
    box-sizing: border-box;
    background-color: #ed217c;
    color: white;
}

::placeholder {
    color: white;
  }

  .simple-keyboard  > .hg-row > .item-focusable{
    color: black !important;
}

.simple-keyboard  > .hg-row > .focused-item{
    background-color: #ed217c !important ;
    color: white !important;
}

.resultado-container > a > .focused-item{
    /* background-color: #ed217c !important ; */
    color: #ed217c !important;
}


  