.seleccionarTV {
    color: white;
    background-color: black;
}

.seleccionarTV.focused-item {
    color: #ed217c !important;
    background-color: white !important;
}

.mapaLugar {
    color: white;
    background-color: black;
}

.mapaLugar.focused-item {
    color: #ed217c !important;
    background-color: white !important;
}    

.modal-mapa {
    border: solid #0b0e21 7px;
}

.modal-tv {
    border: solid #0b0e21 7px;
}