.seleccionarTV {
    color: white;
    background-color: #ed217c;
}

.seleccionarTV.focused-item {
    color: #ed217c !important;
    background-color: white !important;
}

.mapaLugar {
    color: white;
    background-color: #ed217c;
}

.mapaLugar.focused-item {
    color: #ed217c !important;
    background-color: white !important;
}    